@{
    ViewBag.Title = "Home Page";
}


@section scripts {
    <script>
        var GetAtualWebApiUrl = '@Url.Action("GetAtualWebApi")';
        var ResetaRoboWebApiUrl = '@Url.Action("ResetaRoboWebApi")';
        var ContrairBracoDireitoUrl = '@Url.Action("ContrairBracoDireito")';
        var DescontrairBracoDireitoUrl = '@Url.Action("DescontrairBracoDireito")';
        var RotacaoBracoDireitoUrl = '@Url.Action("RotacaoBracoDireito")';
        var RotacaoBracoDireitoAtniUrl = '@Url.Action("RotacaoBracoDireitoAtni")';
        var ContrairBracoEsquerdoUrl = '@Url.Action("ContrairBracoEsquerdo")';
        var DescontrairBracoEsquerdoUrl = '@Url.Action("DescontrairBracoEsquerdo")';
        var RotacaoBracoEsquerdoUrl = '@Url.Action("RotacaoBracoEsquerdo")';
        var RotacaoBracoEsquerdoAtniUrl = '@Url.Action("RotacaoBracoEsquerdoAtni")';
        var RotacaoCabecaUrl = '@Url.Action("RotacaoCabeca")';
        var RotacaoCabecaAtniUrl = '@Url.Action("RotacaoCabecaAtni")';
        var InclinacaoCabecaCimaUrl = '@Url.Action("InclinacaoCabecaCima")';
        var InclinacaoCabecaBaixoUrl = '@Url.Action("InclinacaoCabecaBaixo")';
    </script>
    @Scripts.Render("~/bundles/home")
}


<div class="row">
    <div class="col-md-4">
        <p><a id="Reseta" class="btn btn-default">Reiniciar Robo &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <label>Conexao WebApi:</label>
    </div>
    <div class="col-md-2">
        <p id="ConexaoWebApi"></p>
    </div>
</div>


<label>Contrair Braço Direito</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="ContrairBracoDireito" class="btn btn-default">Contrair Braço Direito &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a id="DescontrairBracoDireito" class="btn btn-default">Descontrair Braço Direito &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <label>Estado atual Braço Direito Contração:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualBracoDireitoContracao"></p>
    </div>
</div>

<label>Rotação Braço Direito</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="RotacaoBracoDireito" class="btn btn-default">Rotação Braço Direito &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a id="RotacaoBracoDireitoAtni" class="btn btn-default">Rotação Braço Direito Anti-horário &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <label>Estado atual Braço Direito Rotação:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualBracoDireitoRotacao"></p>
    </div>
</div>

<label>Contrair Braço Esquerdo</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="ContrairBracoEsquerdo" class="btn btn-default">Contrair Braço Esquerdo &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a id="DescontrairBracoEsquerdo" class="btn btn-default">Descontrair Braço Esquerdo &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <label>Estado atual Braço Esquerdo Contração:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualBracoEsquerdoContracao"></p>
    </div>
</div>

<label>Rotação Braço Esquerdo</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="RotacaoBracoEsquerdo" class="btn btn-default" >Rotação Braço Esquerdo &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a id="RotacaoBracoEsquerdoAtni" class="btn btn-default">Rotação Braço Esquerdo Anti-horário &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <label>Estado atual Braço Esquerdo Rotação:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualBracoEsquerdoRotacao"></p>
    </div>
</div>

<label>Inclinação Cabeça</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="InclinacaoCabecaCima" class="btn btn-default">Inclinação Cabeça Cima &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a id="InclinacaoCabecaBaixo" class="btn btn-default">Inclinação Cabeça Baixo &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <label>Estado atual Cabeça Inclinação:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualCabecaInclinacao"></p>
    </div>
</div>

<label>Rotação Cabeça</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="RotacaoCabeca" class="btn btn-default">Rotação Cabeça &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a id="RotacaoCabecaAtni" class="btn btn-default">Rotação Cabeça Anti-horário &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <label>Estado atual Cabeça Rotação:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualCabecaRotacao"></p>
    </div>
</div>