@{
    ViewBag.Title = "Home Page";
}


@section scripts {
    <script>
        var GetAtualWebApiUrl = '@Url.Action("GetAtualWebApi")';
        var ResetaRoboWebApiUrl = '@Url.Action("ResetaRoboWebApi")';
        var ContrairBracoDireitoRepousoUrl = '@Url.Action("ContrairBracoDireitoRepouso")';
        var ContrairBracoDireitoUrl = '@Url.Action("ContrairBracoDireito")';
        var DescontrairBracoDireitoUrl = '@Url.Action("DescontrairBracoDireito")';
        var RotacaoBracoDireitoRepousoUrl = '@Url.Action("RotacaoBracoDireitoRepouso")';
        var RotacaoBracoDireitoUrl = '@Url.Action("RotacaoBracoDireito")';
        var RotacaoBracoDireitoAtniUrl = '@Url.Action("RotacaoBracoDireitoAtni")';
        var ContrairBracoEsquerdoRepousoUrl = '@Url.Action("ContrairBracoEsquerdoRepouso")';
        var ContrairBracoEsquerdoUrl = '@Url.Action("ContrairBracoEsquerdo")';
        var DescontrairBracoEsquerdoUrl = '@Url.Action("DescontrairBracoEsquerdo")';
        var RotacaoBracoEsquerdoRepousoUrl = '@Url.Action("RotacaoBracoEsquerdoRepouso")';
        var RotacaoBracoEsquerdoUrl = '@Url.Action("RotacaoBracoEsquerdo")';
        var RotacaoBracoEsquerdoAtniUrl = '@Url.Action("RotacaoBracoEsquerdoAtni")';
        var RotacaoCabecaRepousoUrl = '@Url.Action("RotacaoCabecaRepouso")';
        var RotacaoCabecaUrl = '@Url.Action("RotacaoCabeca")';
        var RotacaoCabecaAtniUrl = '@Url.Action("RotacaoCabecaAtni")';
        var InclinacaoCabecaRepousoUrl = '@Url.Action("InclinacaoCabecaRepouso")';
        var InclinacaoCabecaCimaUrl = '@Url.Action("InclinacaoCabecaCima")';
        var InclinacaoCabecaBaixoUrl = '@Url.Action("InclinacaoCabecaBaixo")';
    </script>
    @Scripts.Render("~/bundles/home")
}


<div class="row">
    <div class="col-md-4">
        <p><a id="Reseta" class="btn btn-default">Reiniciar &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <label>Conexao WebApi:</label>
    </div>
    <div class="col-md-2">
        <p id="ConexaoWebApi"></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Estado atual BracoDireitoContracao:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualBracoDireitoContracao"></p>
    </div>
    <div class="col-md-4">
        <label>Estado atual BracoDireitoRotacao:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualBracoDireitoRotacao"></p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <label>Estado atual BracoEsquerdoContracao:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualBracoEsquerdoContracao"></p>
    </div>
    <div class="col-md-4">
        <label>Estado atual BracoEsquerdoRotacao:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualBracoEsquerdoRotacao"></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Estado atual CabecaRotacao:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualCabecaRotacao"></p>
    </div>
    <div class="col-md-4">
        <label>Estado atual CabecaInclinacao:</label>
    </div>
    <div class="col-md-2">
        <p id="situacaoAtualCabecaInclinacao"></p>
    </div>
</div>


<label>Contrair Braco Direito</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="ContrairBracoDireitoRepouso" class="btn btn-default">Contrair Braco Direito Repouso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="ContrairBracoDireito" class="btn btn-default">Contrair Braco Direito &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="DescontrairBracoDireito" class="btn btn-default">Descontrair Braco Direito &raquo;</a></p>
    </div>
</div>

<label>Rotacao Braco Direito</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="RotacaoBracoDireitoRepouso" class="btn btn-default">Rotacao Braco Direito Repouso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="RotacaoBracoDireito" class="btn btn-default">Rotacao Braco Direito &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="RotacaoBracoDireitoAtni" class="btn btn-default">Rotacao Braco Direito Atni &raquo;</a></p>
    </div>
</div>

<label>Contrair Braco Esquerdo</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="ContrairBracoEsquerdoRepouso" class="btn btn-default">Contrair Braco Esquerdo Repouso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="ContrairBracoEsquerdo" class="btn btn-default">Contrair Braco Esquerdo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="DescontrairBracoEsquerdo" class="btn btn-default">Descontrair Braco Esquerdo &raquo;</a></p>
    </div>
</div>

<label>Rotacao Braco Esquerdo</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="RotacaoBracoEsquerdoRepouso" class="btn btn-default">Rotacao Braco Esquerdo Repouso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="RotacaoBracoEsquerdo" class="btn btn-default">Rotacao Braco Esquerdo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="RotacaoBracoEsquerdoAtni" class="btn btn-default">Rotacao Braco Esquerdo Atni &raquo;</a></p>
    </div>
</div>

<label>Rotacao Cabeca</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="RotacaoCabecaRepouso" class="btn btn-default">Rotacao Cabeca Repouso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="RotacaoCabeca" class="btn btn-default">Rotacao Cabeca &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="RotacaoCabecaAtni" class="btn btn-default">Rotacao Cabeca Atni &raquo;</a></p>
    </div>
</div>

<label>Inclinacao Cabeca</label>
<div class="row">
    <div class="col-md-4">
        <p><a id="InclinacaoCabecaRepouso" class="btn btn-default">Inclinacao Cabeca Repouso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="InclinacaoCabecaCima" class="btn btn-default">Inclinacao Cabeca Cima &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a id="InclinacaoCabecaBaixo" class="btn btn-default">Inclinacao Cabeca Baixo &raquo;</a></p>
    </div>
</div>